* {
  margin: 0px;
  padding: 0px;
}

:root {
  --accent: #6ac045;
  --primary: #1d1d1d;
  --secondary: #171717;
  --light: #e3e3e3;

  --mainWidth: 90%;
}

@font-face {
  font-family: font;
  src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

a {
  text-decoration: none;
}

body {
  position: relative;
  font-family: font;
}

/* Navbar Wrapper  */
.navbar__wrapper {
  width: 100%;
  height: auto;
}

/* Navbar Wrapper Item  */
.navbar__wrapper__item {
  z-index: 1000;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0.6rem 0;
  background: var(--primary);

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__wrapper__item:nth-child(2) {
  background: var(--secondary);
}

/* Navbar Wrapper Container  */
.navbar__wrapper__container {
  width: var(--mainWidth);
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar Brand  */
.navbar__brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

/* Navbar Brand Icon  */
.navbar__brand svg {
  width: 1.6rem;
  fill: var(--accent);
  transition: all 0.2s ease-in-out;
}

.navbar__brand:hover svg {
  fill: var(--light);
}

/* Navbar Brand Title  */
.navbar__brand span {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: -2px;
  color: var(--accent);
  transition: all 0.2s ease-in-out;
}

.navbar__brand:hover span {
  color: var(--light);
}

/* Navbar Search Wrapper  */
.navbar__search__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}

/* Navbar Search  */
.navbar__search {
  width: 275px;
  outline: none;
  border: none;
  padding: 0.4rem 0 0.4rem 1rem;

  background: var(--secondary);
  color: var(--light);
}

/* Navbar Search Button  */
.navbar__search__btn {
  position: absolute;
  right: 0.3rem;
  width: 3rem;
  padding: 0 0.6rem;
  height: 1.3rem;
  background: var(--primary);

  border-radius: 0.1rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

/* Navbar Search Btn Title  */
.navbar__search__btn span {
  display: none;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  color: var(--accent);
}

.navbar__search__btn:hover > span {
  display: flex;
}

/* Navbar Search Btn Icon */
.navbar__search__btn svg {
  width: 1rem;
  fill: var(--accent);
  cursor: pointer;
  display: flex;
}

/* Navbar  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  list-style: none;
  gap: 1rem;
  padding: 0.3rem 0;
}

/* Navbar Link  */
.navbar li a {
  background: var(--primary);
  padding: 0.2rem 0.5rem;
  font-size: 14px;
  font-weight: bold;
  color: var(--accent);
  letter-spacing: -0.5px;
  border-radius: 0.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.navbar li a:hover {
  color: var(--secondary);
  background: var(--accent);
}

header {
  max-width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
}

/* css slider */
.slider {
  height: 750px;
  position: relative;
}
.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 30%, transparent);
}
.slider .list .item .content {
  position: absolute;
  left: 10%;
  top: 10%;
  width: 1000px;
  max-width: 80%;
  z-index: 1;
}
.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}
.slider .list .item .content h2 {
  font-size: 100px;
  margin: 0;
}
.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slider .list .item.active .anime__text,
.slider .list .item.active .anime__title,
.slider .list .item.active .anime__span,
.slider .list .item.active .anime__btn,
.slider .list .item.active .content__item {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 1;
  animation: showContent 1s ease-in-out 1 forwards;
}

.anime__span {
  color: var(--light);
  font-size: 14px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
  animation-delay: 1s;
  opacity: 0;
}

.anime__title {
  width: 75%;
  color: var(--light);
  font-size: 4rem;
  line-height: 3.5rem;
  letter-spacing: -3.5px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
  animation-delay: 1s;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  animation-duration: 2.3s;
  padding: 0 0 0.5rem 0;

  opacity: 0;
}

.anime__title:hover {
  color: var(--accent);
}

.anime__text {
  color: var(--light);
  opacity: 0;
  width: 90%;
  line-height: 15px;
  font-weight: 100;
  padding: 0 0 1rem 0;
  text-shadow: 1px 1px 2px #000;
}

.anime__btn {
  padding: 0.5rem 0.5rem;
  width: 100px;
  background: var(--accent);
  text-shadow: 1px 1px 2px #000;

  border-radius: 0.1rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  letter-spacing: -1px;
  color: var(--light);
  transition: all 0.2s ease-in-out;
  border: 2px solid var(--accent);
  opacity: 0;
}

.anime__btn:hover {
  /* background: var(--primary); */
  border: 2px solid var(--light);
}

.content__item {
  display: flex;
  gap: 0.5rem;
  opacity: 0;
  width: 100%;
}

/* Anime Genres  */
.anime__genres {
  display: flex;
  gap: 0.5rem;
  padding: 0 0 1rem 0;
}

.anime__genres .genres {
  padding: 0.2rem 0.5rem;
  background: var(--primary);
  font-weight: bold;
  font-size: 14px;
  letter-spacing: -1px;
  color: var(--light);
  border-radius: 0.1rem;
  text-shadow: 1px 1px 2px #000;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.anime__genres .genres:hover {
  background: var(--accent);
}
.arrows {
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}
.arrows button {
  background-color: var(--accent);
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: var(--light);
  font-size: 1.2rem;
  transition: 0.5s;
}
.arrows button:hover {
  background-color: #eee;
  color: black;
}
.thumbnail {
  position: absolute;
  bottom: 50px;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}
.thumbnail::-webkit-scrollbar {
  width: 0;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.thumbnail .item img:hover {
  filter: brightness(1.5);
}

.thumbnail .item.active {
  filter: brightness(1.5);
}
.thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 10px;
  display: none;
}

/* Main Container Section  */
.main__container__section {
  width: 100%;
  height: auto;
  background-image: linear-gradient(to top, var(--secondary) 50%, #000);
  padding: 1rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Main Container Content  */
.main__container__content {
  width: var(--mainWidth);
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

.main__container__content span {
  opacity: 0.2;
  color: var(--light);
}

/* Main Content Text  */
.main__content__text {
  text-align: center;
  width: 85%;
  padding: 1rem 0 0 0;
  color: var(--light);
  opacity: 0.8;
  font-weight: 100;
}
/* Main Content Title  */
.main__content__title {
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: -3.5px;
  color: var(--light);
  text-shadow: 1px 1px 2px #000;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.main__content__title svg {
  width: 2.5rem;
  fill: var(--light);
  transition: all 0.2s ease-in-out;
}

.main__content__title:hover {
  color: var(--accent);
}
.main__content__title:hover > svg {
  fill: var(--accent);
}

/* Content Grid  */
.content__grid__main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: var(--secondary);
}
.content__grid {
  width: var(--mainWidth);
  background: var(--secondary);
  padding: 1rem 0;
  margin-bottom: 2rem;

  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(70px, 200px));
  column-gap: 2rem;
  row-gap: 1rem;
}

/* Grid  */
.grid {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.2rem;

  width: 100%;
  height: 300px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* Main Grid Section  */
.main__content__section {
  width: 100%;
  padding: 1.5rem 0;
  background: var(--primary);

  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Main Content Grid  */
.main__content__grid {
  width: var(--mainWidth);
  height: auto;

  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1rem;
}

/* Main Content Header  */
.main__content__header {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -2px;
  color: var(--light);

  display: flex;
  justify-content: flex-start;
  gap: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.main__content__header:hover {
  color: var(--accent);
}

.main__content__header svg {
  width: 1.3rem;
  fill: var(--light);
  transition: all 0.2s ease-in-out;
}

.main__content__header:hover > svg {
  fill: var(--accent);
}

/* Main Content Reviews  */
.main__content__reviews {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

/* Main Content Review  */
.main__content__review {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}

/* Reviews  */
.review {
  width: 100%;
  height: 300px;
  background: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.1rem;
}

/* Review Wrapper  */
.review__wrapper {
  width: 95%;
  height: 85%;
  display: grid;
  grid-template-columns: 200px 1fr;
  gap: 0.5rem;
}

/* Review Image  */
.review__image {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.review__image img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 0.1rem;
}

/* review Content  */
.review__content {
  width: 100%;
  height: 100%;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

/* Review Span  */
.review__span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review__span span {
  font-size: 14px;
  opacity: 0.2;
  letter-spacing: -1px;
  color: var(--light);
  cursor: pointer;
}

/* Review title  */
.review__title {
  padding: 0.5rem 0 1rem 0;
  font-size: 3rem;
  letter-spacing: -3.5px;
  font-weight: bold;
  color: var(--light);
  cursor: pointer;
}

/* Review Item  */
.review__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

/* Review Stars  */
.review__stars {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.1rem;
}

.review__stars svg {
  fill: var(--accent);
  width: 1.3rem;
}

.review__stars svg.half {
  fill: var(--light);
}

/* Review Score  */
.review__score {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1rem;
  padding: 0.2rem 0 0 0;
  color: var(--light);
}

/* Review Recommended  */
.review__tag {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1rem;
  color: var(--accent);
}

/* Review Text  */
.review__text {
  line-height: 16px;
  color: var(--light);
  font-weight: 100;
  letter-spacing: -1px;
  padding: 0.6rem 0 0 0;
  width: 98%;
  opacity: 0.4;
  cursor: pointer;
}

/* review Btn  */
.review__btn {
  position: absolute;
  bottom: 0;
  right: 0;
  color: var(--light);
  cursor: pointer;
  background: var(--accent);
  text-shadow: 1px 1px 2px #000;
  font-size: 14px;
  font-weight: bold;
  border-radius: 0.1rem;
  padding: 0.4rem 0.6rem;
  transition: all 0.2s ease-in-out;
  border: 2px solid var(--accent);
}

.review__btn:hover {
  background: var(--primary);
  border: 2px solid var(--light);
  cursor: pointer;
}
@keyframes showOverlay {
  to {
    opacity: 1;
    filter: blur(0);
  }
}

.grid:hover .grid__overlay {
  display: flex;
  animation: showOverlay 0.7s ease-in-out forwards;
}

/* Grid Image  */
.grid__image {
  width: 100%;
  height: 85%;
  position: relative;
  overflow: hidden;
  border-radius: 0.1rem;
  border: 5px solid var(--light);
}

.grid__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 0.5);
  cursor: pointer;

  display: none;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-direction: column;
  transition: all 0.2s ease-in-out;

  opacity: 0;
  filter: blur(5px);
}

.overlay__star {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.3rem;

  font-weight: bold;
  color: var(--light);
  text-shadow: 1px 1px 2px #000;
  font-size: 1.5rem;
}
.overlay__star svg {
  width: 2rem;
  fill: var(--accent);
}

.grid__text {
  font-size: 14px;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  color: var(--light);
}
.grid__text span {
  font-weight: 100;
  opacity: 0.2;
}

/* Read More Btn  */
.read__more__btn {
  font-weight: bold;
  padding: 0.4rem 0.6rem;
  background: var(--accent);
  text-shadow: 1px 1px 2px #000;
  color: var(--light);
  cursor: pointer;
  border-radius: 0.1rem;
  transition: all 0.2s ease-in-out;
  border: 2px solid var(--accent);
}

.read__more__btn:hover {
  border: 2px solid var(--light);
}

/* Main Content Side  */
.main__content__side {
  width: 100%;
  height: auto;
}

/* Main Genre Header  */
.main__genre__header {
  width: 100%;
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: -2px;
  color: var(--light);

  display: flex;
  justify-content: flex-start;
  gap: 0.3rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  padding: 0 0 1rem 0;
}

.main__genre__header:hover {
  color: var(--accent);
}

.main__genre__header svg {
  width: 1.3rem;
  fill: var(--light);
  transition: all 0.2s ease-in-out;
}

.main__genre__header:hover > svg {
  fill: var(--accent);
}

/* Main Genre Wrapper  */
.main__genre__wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;

  background: var(--secondary);
}

/* Main Genre Grid  */
.main__genre__grid {
  width: 92%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 0.6rem;
  column-gap: 0.5rem;
  padding: 0.3rem 0;
}

.genre {
  padding: 0.1rem 0.3rem;
  font-size: 14px;
  font-weight: bold;
  background: var(--accent);
  color: var(--light);
  text-shadow: 1px 1px 2px #000;
  border-radius: 0.1rem;
  cursor: pointer;
  border: 2px solid var(--accent);
  transition: all 0.3s ease-in-out;
}

.genre:hover {
  border: 2px solid var(--light);
  background: var(--primary);
}

/* Search Container Wrapper  */
.search__container__wrapper {
  width: 100%;
  height: auto;

  background: url(/assets/images/main/11.jpg);
  background-size: cover;
  background-position: center;
}

/* Search Container  */
.search__container__overlay {
  padding: 10rem 0 2rem 0;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 0.7);
  background-image: linear-gradient(to top, var(--secondary) 45%, transparent);
}

/* Search Container  */
.search__container {
  width: var(--mainWidth);
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

/* Search Title  */
.search__title {
  font-size: 2.2rem;
  font-weight: bold;
  color: var(--light);
  letter-spacing: -2px;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.4rem;
}

.search__title svg {
  width: 1.5rem;
  fill: var(--light);
}

/* Search Wrapper  */
.search__wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem 0 0 0;
}

.search__btn {
  width: 10%;
  min-width: 100px;
  background: var(--accent);
  text-shadow: 1px 1px 2px #000;
  color: var(--light);
  font-weight: bold;
  font-size: 18px;
  border-radius: 0.1rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;

  border: 2px solid var(--accent);
  transition: all 0.2s ease-in-out;
}

.search__btn:hover {
  background: var(--primary);
  border: 2px solid var(--light);
}

.main__Search {
  width: 85%;
  background: var(--primary);
  border: none;
  outline: none;
  padding: 0.7rem 0 0.7rem 1rem;
  color: var(--light);
  border-radius: 0.1rem;
  transition: all 0.2s ease-in-out;
}

.main__Search:hover {
  box-shadow: 0 0 3px var(--accent);
}

.main__Search:focus {
  box-shadow: 0 0 3px var(--light);
}

/* ANime Header Wrapper  */
.anime__header__wrapper {
  width: 100%;
  height: auto;
  background: url(/assets/images/main/4.jpg);
  background-position: center;
  background-size: cover;
}

/* Anime Header Container Overlay  */
.anime__header__container__overlay {
  padding: 2rem 0;
  background: rgb(0 0 0 / 0.2);
  background-image: linear-gradient(to top, var(--primary) 60%, transparent);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Anime Header Container  */
.anime__header__container {
  width: 90%;
  height: auto;

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 2rem;
}

/* Anime Header Container Grid  */
.anime__header__container__grid {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 250px 2fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

/* Anime Header Image Container  */
.anime__header__image__container {
  width: 100%;
  height: auto;
  grid-row: 1 / 3;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.5rem;
}

.anime__img {
  width: 96%;
  height: 350px;
  border-radius: 0.1rem;
  border: 5px solid var(--light);
  object-fit: cover;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.anime__img:hover {
  border-color: var(--accent);
  filter: brightness(1.2);
}

/* Overlay Streaming  */
.overlay__streaming {
  width: 96%;
  height: 30px;
  background: var(--accent);
  border: 5px solid var(--accent);
  border-radius: 0.1rem;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: -1px;
  color: var(--light);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.overlay__streaming:hover {
  background: var(--secondary);
  border: 5px solid var(--secondary);
}

.overlay__streaming svg {
  width: 0.8rem;
  fill: var(--light);
}

/* Content Item  */
.studio__item {
  margin: 0.3rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 0.2rem;

  font-size: 14px;
  color: var(--light);
  background: var(--secondary);
  padding: 0.3rem 0.6rem;
  letter-spacing: -0.5px;
  font-weight: bold;
  border-radius: 0.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.studio__item:hover {
  background: var(--accent);
}

.studio__item svg {
  width: 1rem;
  fill: var(--light);
}

/* Anime Header Content  */
.anime__header__content {
  width: 100%;
  height: auto;
}

.anime__header__content .title {
  font-size: 2.3rem;
  color: var(--light);
  font-weight: bold;
  letter-spacing: -3px;
  text-shadow: 1px 1px 2px #000;
  cursor: pointer;
  transition: all 0.2s ease-in-outM;
}
.anime__header__content .title:hover {
  color: var(--accent);
}

/* Content Span  */
.content__span {
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column;
  text-shadow: 1px 1px 2px #000;
}

.content__span span {
  color: var(--light);
  font-size: 1.2rem;
  line-height: 18px;
  font-weight: bold;
  letter-spacing: -1px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}
.content__span span:hover {
  color: var(--accent);
}

/* Content Genres  */
.content__genres {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 0.4rem;
  row-gap: 0.2rem;
  width: 90%;
}

.content__genres span {
  color: var(--light);
  font-style: italic;
  text-shadow: 1px 1px 2px #000;
  padding: 0 0.5rem 0 0;
}

.content__genres .genres {
  padding: 0.2rem 0.4rem;
  background: var(--accent);
  font-size: 14px;
  text-shadow: 1px 1px 2px #000;
  color: var(--light);
  border-radius: 0.1rem;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
}

.content__genres .genres:hover {
  background: var(--secondary);
}

/* Anime Header Content Des  */
.anime__header__content__des {
  width: 100%;
  height: 100%;
}

/* Synopsis */
.main__synopsis {
  width: 100%;
}
/* Main Synopsis Header  */
.main__synopsis__header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;

  font-size: 1.8rem;
  cursor: pointer;
  color: var(--light);
  font-weight: bold;
  letter-spacing: -2px;
  transition: all 0.2s ease-in-out;
}

.main__synopsis__header:hover {
  color: var(--accent);
}

.main__synopsis__header svg {
  width: 1.5rem;
  fill: var(--light);
  transition: all 0.2s ease-in-out;
}

.main__synopsis__header:hover > svg {
  fill: var(--accent);
}

/* Synopsis */
.synopsis {
  color: var(--light);
  opacity: 1;
  font-weight: 100;
  line-height: 16px;
  padding: 0.5rem 0 1rem 0;
  width: 95%;
  text-shadow: 1px 1px 2px #000;
}

/* Main Background  */
.main__background {
  padding: 1rem;
  background: var(--secondary);
  width: 90%;
  min-width: 350px;
}

/* Main Background Header  */
.main__background__header {
  font-size: 1.2rem;
  color: var(--light);
  font-weight: bold;
}

.background {
  color: var(--light);
  opacity: 0.5;
  font-weight: 100;
  line-height: 14px;
  font-size: 14px;
  text-shadow: 1px 1px 2px #000;
}

/* Content Grid  */
.content__stats {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
  padding: 0 0 0.5rem 0;
}

.content__stats.mobile {
  display: none;
}

/* Content Grid Item  */
.content__stats__item {
  display: grid;
  grid-template-columns: 1.8rem 1fr;
  width: 60%;
  justify-content: center;
  align-items: center;
}

.content__stats__item span {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: -1px;
  color: var(--light);
  text-shadow: 1px 1px 2px #000;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.content__stats__item:hover > span {
  color: var(--accent);
}

.content__stats__item svg {
  width: 1.2rem;
  fill: var(--accent);
  transition: all 0.1s ease-in-out;
}

.content__stats__item:hover > svg {
  filter: brightness(1.2);
}

/* More Anime Wrapper  */
.more__anime__wrapper {
  width: 210px;
  height: 100%;
}

/* More Anime Header  */
.more__anime__header {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: -3px;
  color: var(--light);
  text-shadow: 1px 1px 2px #000;
}

/* More Anime Grid  */
.more__anime__grid {
  padding: 0.5rem 0 0 0;
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(2, 95px);
  grid-template-rows: repeat(2, 135px);
  gap: 1rem;
}

.anime__grid {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.anime__grid img {
  width: 100%;
  height: 100%;
  border: 4px solid var(--light);
  object-fit: cover;
  border-radius: 0.1rem;
  filter: brightness(0.8);
  transition: all 0.2s eas;
}

.anime__grid img:hover {
  border-color: var(--accent);
  filter: brightness(1);
}

/* Anime Other Content Wrapper  */
.anime__other__content__wrapper {
  width: 100%;
  height: auto;
  background: var(--primary);

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 2rem 0;
}

/* Anime Other Content  */
.anime__other__container {
  width: var(--mainWidth);
  height: auto;
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 1rem;
}

/* Anime Other Info Wrapper   */
.anime__other__info__wrapper {
  width: 100%;
  height: auto;
  background: var(--secondary);
  padding: 1.5rem 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

/* Anime Other Info  */
.anime__other__info {
  width: 90%;
  height: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1rem;
}

/* Anime Information Title  */
.anime__info__title {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 1.4rem;
  letter-spacing: -1px;
  color: var(--light);
  cursor: pointer;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.anime__info__title svg {
  width: 1.2rem;
  fill: var(--light);
  transition: all 0.2s ease-in-out;
}

.anime__info__title:hover {
  color: var(--accent);
}
.anime__info__title:hover > svg {
  fill: var(--accent);
}

/* Anime Info  */
.anime__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.1rem;
  line-height: 16px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: -1px;
  color: var(--light);
  text-shadow: 1px 1px 2px #000;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  width: 100%;
}

.anime__info:hover {
  color: var(--accent);
}
.anime__info span {
  padding: 0.2rem 0 0 0;
  font-size: 1rem;
  font-weight: 100;
  font-size: 14px;
  opacity: 0.5;
}

/* Anime Other Side  */
.anime__other__side {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

/* Anime Other Stats  */
.anime__other__stats {
  width: 100%;
  height: auto;
}
/* Anime Other Main Wrapper  */
.anime__other__main__wrapper {
  width: 100%;
  height: auto;
}

/* Anime Other Image Wrapper  */
.anime__other__image__wrapper {
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 0 1rem 0;
}

.anime__other__image {
  width: 100%;
  height: 250px;
  position: relative;
}

.anime__other__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: pointer;
  filter: brightness(0.6);
  transition: all 0.1s ease-in-out;

  position: absolute;
  top: 0;
}

.anime__other__image img:hover {
  filter: brightness(1);
}

/* Anime Custom Title  */
.anime__info__title.ani__title {
  line-height: 1rem;
  padding: 0.3rem 0 0.8rem 0;
}

/* Anime Characters Wrapper  */
.anime__characters__wrapper {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 0.5rem;
  padding: 0 0 1.5rem 0;
}

/* Anime Character  */
.anime__character {
  width: 100%;
  height: 80px;
  background: var(--secondary);
  border-radius: 0.1rem;

  /* overflow: hidden; */
  display: grid;
  grid-template-columns: 70px 1fr 70px;
  gap: 0.5rem;
  cursor: pointer;
}

/* Anime Character Image  */
.anime__character__img {
  width: 100%;
  height: 100%;
  position: relative;
  cursor: pointer;
  /* border-bottom: 5px solid var(--light);
  box-shadow: inset 0 -100px red; */
}

.anime__character__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;

  filter: brightness(0.8);
  transition: all 0.2s ease-in-out;
}

.anime__character__img img:hover {
  filter: brightness(1);
}

/* Anime Character Content  */
.anime__character__content {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.anime__character__name {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 0 0;
}

.anime__character__role {
  display: flex;
  justify-content: space-between;
  padding: 0 0 0.3rem 0;
}

.anime__character__role span,
.anime__character__name span {
  font-size: 14px;
  letter-spacing: -0.8px;
  font-weight: 400;
  color: var(--light);
  transition: all 0.2s ease-in-out;
}

.anime__character__role span {
  opacity: 0.3;
  letter-spacing: 0.5px;
  font-weight: 100;
}

.anime__character__content:hover .anime__character__name span {
  color: var(--accent);
}

.anime__info__title.ani__more {
  width: calc(var(--mainWidth));
  padding: 1.5rem 0 .5rem 0;
}
/* Footer  */
footer {
  width: 100%;
  height: 200px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: 1rem solid var(--accent);
}

/* Footer Image  */
.footer__img {
  position: relative;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Footer Wrapper  */
.footer__wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgb(0 0 0 /0.9);

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Footer Container  */
.footer__container {
  width: 85%;
  height: 80%;
}

.footer__container span {
  font-weight: 100;
  font-size: 14px;
  opacity: 0.8;
}

/* Footer Title  */
.footer__title__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  color: white;
  font-weight: 700;
}

.footer__title {
  display: flex;
  gap: 0.5rem;
}

.line {
  opacity: 0.5;
  font-weight: 100;
}

/* Alphabet__Wrapper */
.alphabet__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  gap: 0.5rem;
}

.alphabet {
  background: var(--accent);
  height: 1.5rem;
  width: 1.5rem;

  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 0.1rem;
  cursor: pointer;
  text-shadow: 1px 1px 2px #000;
  border: 1px solid var(--accent);
  transition: all 0.1s ease-in-out;
}

.alphabet:hover {
  background: var(--secondary);
  border: 1px solid var(--light);
}

/* Footer Content  */
.footer__content {
  padding: 0.5rem 0;
  width: 100%;
  height: auto;

  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
}

/* Footer Brand  */
.footer__brand {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.footer__brand svg {
  width: 2rem;
  fill: white;
}

.footer__brand span {
  font-weight: bold;
  color: white;
  font-size: 2rem;
  letter-spacing: -2px;
}

/* Footer Details  */
.footer__details {
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

/* Anime Review Wrapper  */
.anime__review__wrapper {
  width: 100%;
  height: auto;

  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 1rem;
  padding: 1rem 0 0 0;
}

/* Anime Review  */
.anime__review {
  width: 100%;
  height: auto;
  position: relative;
  padding: 0.5rem 0 0.8rem 0;
  border-bottom: 1px solid #e3e3e33b;
}

/* Anime Review Span  */
.anime__review__Span {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
}

.anime__review__Span span {
  font-size: 14px;
  opacity: 0.4;
  letter-spacing: -0.5px;
  color: var(--light);
}
.reviewed__by {
  font-size: 14px;
  color: var(--light);
  /* opacity: .3; */
  font-weight: 100;
}

/* Review Score  */
.review__score {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  padding: 0 0 0 0.5rem;
}

.review__score svg {
  width: 1rem;
  fill: var(--accent);
}

.r__score {
  font-size: 0.8rem;
  letter-spacing: -1px;
}

/* Anime Review Text  */
.anime__review__text {
  padding: 0.5rem 0 0.8rem 0;
  line-height: 15px;
  font-weight: 100;
  color: var(--light);
  opacity: 0.4;
  transition: all .2s ease-in-out;
  cursor: pointer;
}

.anime__review:hover .anime__review__text  {
  opacity: .8;
}

/* Anime Review Read  */
.anime__review__read {
  font-weight: bold;
  color: var(--light);
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.anime__review__read:hover {
  color: var(--accent);
  opacity: 1;
}

/* Anime More Reviews  */
.anime__more__reviews {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  gap: 0.3rem;
}

.anime__more__reviews div {
  padding: .1rem 0;
  color: var(--accent);
  font-weight: bold;
  letter-spacing: -1px;
  cursor: pointer;
  opacity: 0.5;
  transition: all 0.2s ease-in-out;
}

.anime__more__reviews div:hover {
  opacity: 1;
}

.anime__more__reviews span {
  color: var(--light);
  opacity: 0.5;
  font-weight: 100;
}

.anime__more__reviews:hover span {
  opacity: 1;
}

/* Chart  */
#myChart {
  margin-top: 1rem;
  width: 100%;
}
/* Media Queries  */

@media (max-width: 1150px) {
  .more__anime__wrapper {
    width: 180px;
  }
  .more__anime__grid {
    grid-template-columns: repeat(2, 80px);
    grid-template-rows: repeat(2, 100px);
    gap: 1rem;
  }
}

@media (max-width: 1050px) {
  .more__anime__header {
    font-size: 1.5rem;
    letter-spacing: -2px;
  }
  .more__anime__wrapper {
    width: 150px;
  }
  .more__anime__grid {
    grid-template-columns: repeat(1, 90px);
    grid-template-rows: repeat(4, 120px);
    gap: 1rem;
  }
  .anime__other__container {
    width: var(--mainWidth);
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .anime__other__info__wrapper {
    order: 2;
  }
  .anime__other__info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .anime__info__title {
    width: 100%;
    justify-content: center;
    padding: 0 0 0.5rem 0;
  }
  .anime__info {
    width: auto;
    padding-inline: auto;
  }
}

@media (max-width: 950px) {
  .synopsis {
    width: 100%;
  }
  .main__background {
    width: 70%;
  }
  .more__anime__wrapper {
    display: none;
  }
  .anime__header__container {
    width: var(--mainWidth);
    grid-template-columns: 1fr;
  }
  .main__content__grid {
    width: var(--mainWidth);
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  footer {
    height: 250px;
  }
}

@media (max-width: 875px) {
  /* Anime Characters Wrapper  */
  .anime__characters__wrapper {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 1rem;
    column-gap: 0.5rem;
  }
}

@media (max-width: 750px) {
  .synopsis {
    font-size: 14px;
    width: 50vw;
  }
  .anime__header__content .title {
    font-size: 2rem;
    line-height: 1.8rem;
    width: 95%;
  }

  .review__title {
    font-size: 2.5rem;
    line-height: 2rem;
  }
  .review__text {
    font-size: 14px;
  }
  .review__tag,
  .review__score {
    font-size: 1rem;
    padding: 0.2rem 0 0 0;
  }
  .review__stars svg {
    width: 1rem;
  }
}

@media (max-width: 678px) {
  .anime__other__image {
    width: 100%;
    height: 200px;
    position: relative;
  }
  .anime__other__image:last-child img {
    width: 200%;
  }
  .anime__other__image__wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
  }

  .synopsis {
    font-size: 14px;
    width: 90vw;
  }
  .anime__header__content__des {
    order: 3;
    grid-column: 1 / 4;
  }
  .content__stats {
    display: none;
  }
  .content__stats.mobile {
    display: flex;
    padding: 1rem 0 0 0;
    flex-direction: column;
    gap: 0.5rem;
  }
  .content__stats.mobile .content__stats__item span {
    font-size: 1.4rem;
  }

  .content__stats.mobile .content__stats__item {
    width: 100%;
  }
  .main__background {
    width: 90%;
  }
  .review__wrapper {
    grid-template-columns: 150px 1fr;
    gap: 0.5rem;
  }
  .review__image img {
    width: 120px;
    height: 175px;
  }
  .main__content__text {
    width: 95%;
  }
  .anime__text {
    font-size: 14px;
    line-height: 14px;
    text-shadow: 1px 1px 2px #000;
    width: 100%;
  }
  .anime__title {
    font-size: 3rem;
    line-height: 2.5rem;
    width: 100%;
    padding: 0 0 0.5rem 0;
  }
  .thumbnail {
    justify-content: start;
  }
  .slider .list .item .content h2 {
    font-size: 60px;
  }
  .arrows {
    top: 5%;
  }
  .navbar__wrapper__container {
    flex-direction: column;
    gap: 0.8rem;
  }
  .thumbnail .item {
    width: 150px;
    height: 200px;
  }

  footer {
    height: 300px;
  }

  .footer__content {
    padding: 0.5rem 0;
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
  }
  .search__container__overlay {
    padding: 5rem 0 2rem 0;
  }
}

@media (max-width: 505px) {
  .anime__other__image img {
    filter: brightness(1);
  }
  .content__genres {
    width: 100%;
  }
  .anime__header__container__grid {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
  }
  .anime__header__content {
    order: 1;
    display: flex;
    flex-direction: column;
  }
  .anime__header__image__container {
    width: 100%;
    height: auto;
    grid-row: 1;
    grid-column: 1 / 4;
    order: 2;
  }

  .synopsis {
    font-size: 12px;
    width: 95vw;
  }
  .content__stats.mobile .content__stats__item span {
    font-size: 1.2rem;
  }

  .content__stats__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
  }

  .content__stats__item span {
    width: auto;
  }

  footer {
    height: 325px;
  }
  .alphabet__wrapper {
    justify-content: center;
  }
  .content__grid {
    width: calc(var(--mainWidth) - 10%);

    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
  }
  .grid {
    height: 250px;
  }

  .review__wrapper {
    grid-template-columns: 1fr;
    gap: 0.5rem;
    height: auto;
  }

  .review {
    width: 100%;
    height: auto;
    padding: 1rem 0;
    background: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.1rem;
  }

  .review__text {
    padding: 0 0 3rem 0;
  }
  .review__btn {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .review__image img {
    width: 50%;
    min-width: 175px;
    height: 225px;
  }
}

@media (max-width: 475px) {
  .anime__other__image:last-child img {
    width: 100%;
  }
  .anime__other__image__wrapper {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
  }
  .anime__other__image {
    width: 100%;
    height: 175px;
    position: relative;
  }
  .search__container__overlay {
    padding: 2rem 0 2rem 0;
  }
  .search__wrapper {
    flex-direction: column;
  }
  .main__Search {
    width: 99%;
  }
  .search__btn {
    width: 100%;
  }
  footer {
    height: 375px;
  }
  .main__content__text {
    width: 95%;
    font-size: 14px;
  }
  .main__content__title {
    font-size: 2rem;
  }
  .main__container__content span {
    font-size: 12px;
  }
  .main__content__title svg {
    width: 1.5rem;
  }
  .thumbnail .item {
    width: 150px;
    height: 180px;
  }
  .thumbnail {
    position: absolute;
    bottom: 0px;
  }

  .thumbnail .item {
    width: 125px;
    height: 150px;
  }
  .arrows {
    top: 2%;
  }
  .slider .list .item .content {
    top: 7%;
  }

  .anime__title {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
  .footer__title__wrapper {
    flex-direction: column;
    gap: 0.5rem;
    padding: 0 0 0.5rem 0;
  }
  .line {
    display: none;
  }

  .footer__brand {
    justify-content: center;
  }
  .footer__content {
    justify-content: center;
    align-items: center;
  }

  .footer__content span {
    text-align: center;
  }
}

@media (max-width: 425px) {
  .anime__header__container {
    transform: scale(0.9);
    width: 100%;
  }
  .anime__header__container__overlay {
    padding: 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .anime__header__container {
    width: 100%;
  }
  .anime__header__content .title {
    font-size: 1.5rem;
    line-height: 1.4rem;
    letter-spacing: 0.5px;
    width: 90vw;
  }
  .content__genres {
    width: 100vw;
    row-gap: 0.5rem;
  }
  .main__background {
    padding: 1rem;
    background: var(--secondary);
    width: 90%;
    min-width: 250px;
  }
}

@media (max-width: 350px) {
  .main__background {
    width: auto;
  }
  .background {
    width: 90vw;
  }
  .content__grid {
    width: calc(var(--mainWidth) - 10%);

    grid-template-columns: 1fr;
    column-gap: 1.5rem;
  }
  .grid {
    height: 350px;
  }
  .review__text {
    padding: 0 0 4rem 0;
  }
  footer {
    height: 445px;
  }
}

@media (max-width: 300px) {
  .review__tag {
    display: none;
  }
  footer {
    height: 475px;
  }
}
