* {
  margin: 0px;
  padding: 0px;
}

:root {
  --accent: #132543;
  --accent-: #1c2e4a;
  --accent--: #e7eef8;
  --primary: #ffffff;
  --secondary: #e8eefa; /* #fcfdfc/ */

  --mainWidth: 90%;
  --MainRound: 0.1rem;
}

@font-face {
  font-family: font;
  src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

body {
  position: relative;
  font-family: font;
}

/* Nav  */
nav {
  width: 100%;
  height: auto;
  padding: 0.8rem 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* Navbar Wrapper  */
.navbar__wrapper {
  width: var(--mainWidth);
  height: auto;

  display: flex;
  justify-content: space-between;
}

/* Navbar Item  */
.navbar__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar__brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.navbar__brand:hover {
  transform: scale(1.1);
}
.navbar__brand svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--accent);
}
.navbar__brand span {
  font-size: 1.5rem;
  color: var(--accent);
  font-weight: bold;
  letter-spacing: -2.5px;
}
.navbar__brand:hover > svg {
  fill: var(--primary);
}
.navbar__brand:hover > span {
  color: var(--primary);
}

/* Search Wrapper  */
.search__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}
.search {
  width: 250px;
  padding: 0.4rem 0 0.4rem 0.5rem;
  outline: none;
  border: none;
  background: var(--secondary);
  border-radius: var(--MainRound);
  color: var(--accent-);
}
.search__icon {
  width: 2rem;
  height: 76%;
  background: var(--accent);

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 3px;
  border-radius: var(--MainRound);
}
.search__icon svg {
  width: 1rem;
  fill: var(--primary);
}

/* Search Results  */
.search__results {
  z-index: 1000;
  position: absolute;
  top: 2.1rem;
  width: 100%;
  height: auto;
  background: var(--secondary);
  border-top: 5px solid var(--accent);

  display: none;
  align-items: center;
  flex-direction: column;
  padding: 0.2rem 0;
  gap: 0.4rem;
  opacity: 0;
  filter: blur(2px);
  animation: showResults 1s ease-in-out forwards;
}

@keyframes showResults {
  to {
    opacity: 1;
    filter: blur(0);
  }
}

/* Result  */

@keyframes showResults {
  to {
    opacity: 1;
    filter: blur(0);
  }
}
.result {
  width: 95%;
  height: 5.2rem;
  background: var(--primary);
  border-left: 5px solid var(--accent);

  display: grid;
  grid-template-columns: 1fr 3fr;
  position: relative;

  justify-content: center;
  align-items: center;
  cursor: pointer;
  opacity: 0;
  filter: blur(4px);
  position: relative;
  animation: showResults 2s ease-in-out forwards;
}

.overlay__result {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.overlay__result:hover {
  background: rgb(0 0 0 / 0.2);
}

.overlay__result:hover > .result {
  opacity: 0.5;
}

/* Result Image  */
.result__image {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0.5rem;
}

.result__img {
  width: 3rem;
  height: 4.5rem;
  border-radius: 0.1rem;
  object-fit: cover;
}

/* Result Content  */
.results__content {
  width: 100%;
  height: 4rem;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.result__title {
  font-size: 16px;
  line-height: 14px;
  color: var(--accent);
  font-weight: bold;
}

.result__stars {
  padding: 0.3rem 0 0 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
}

.stars {
  display: flex;
}

.stars svg {
  width: 1.1rem;
  fill: var(--accent);
}

.score {
  padding-top: 0.1rem;
  font-size: 1.2rem;
  line-height: 1rem;
  color: var(--accent);
  font-weight: bolder;
}

/* Navbar Container  */
.navbar__container {
  width: 100%;
  padding: 1rem 0;
  background: var(--accent);
}
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-wrap: wrap;
  list-style: none;
  gap: 1rem;
}
.navbar li {
  display: flex;
}
.navbar li a {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
  background: var(--primary);
  padding: 0.2rem 0.5rem;
  color: var(--accent);
  border-radius: var(--MainRound);
  transition: all 0.2s ease-in-out;
}
.navbar li a svg {
  width: 0.8rem;
  fill: var(--accent);
  transition: all 0.2s ease-in-out;
}
.navbar li a:hover {
  background: var(--accent-);
  color: var(--primary);
  filter: brightness(1.2);
}
.navbar li a:hover svg {
  fill: var(--primary);
}

/* Header  */
header {
  width: 100%;
  height: 700px;
}

/* Section  */
section {
  width: 100%;
  height: auto;
  background: var(--secondary);
  padding: 1.5rem 0;

  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Section Wrapper  */
.section__wrapper {
  width: var(--mainWidth);
  height: auto;

  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1fr;
}

/* Section Main  */
.section__main {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

/* Section Wrapper  */
.section__display {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;

  border-radius: 0.2rem;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
}

/* Section Display Header  */
.section__display__header {
  width: 100%;
  height: auto;
  background: var(--accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.3rem 0;
}

.section__display__header span {
  padding-left: 1rem;
  font-weight: bold;
  letter-spacing: -1px;
  font-size: 1.2rem;
  color: var(--primary);
}

/* Section Display Grid  */
.section__display__grid {
  width: 98%;
  height: auto;
  margin: 0.5rem 0;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
}

/* Display Wrapper  */
.display__wrapper {
  width: 100%;
  height: 300px;
  background: var(--secondary);
  border-radius: 0.1rem;
  box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
  position: relative;

  display: grid;
  grid-template-rows: 4.5fr 1fr;
  animation: displayWrapper 2s ease-in-out forwards;
  opacity: 0;
  filter: blur(5px);
}

.display__wrapper:nth-child(2) {
  animation: displayWrapper 2.3s ease-in-out forwards;
}
.display__wrapper:nth-child(3) {
  animation: displayWrapper 2.6s ease-in-out forwards;
}
.display__wrapper:nth-child(4) {
  animation: displayWrapper 2.9s ease-in-out forwards;
}

@keyframes displayWrapper {
  to {
    opacity: 1;
    filter: blur(0);
  }
}
/* Display Image  */
.display__image {
  width: 100%;
  height: 100%;
  position: relative;
}

.image__content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, .5) 100%); */
}

.dis {
  cursor: pointer;
  font-weight: bold;
  font-size: 12px;
  border-radius: 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1rem 0.4rem;
  background: var(--accent);
  color: var(--primary);
  position: absolute;
  transition: all 0.1s ease-in-out;
}
.dis:hover {
  filter: brightness(0.5);
}

.dis_tv {
  top: 0.3rem;
  right: 0.3rem;
}

.dis_status {
  bottom: 0.3rem;
  left: 0.3rem;
}

.dis_score {
  bottom: 0.3rem;
  right: 0.3rem;
}

.display__img {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6);
  transition: all 0.1s ease-in-out;
}

.image__content :hover {
  filter: brightness(0.8);
}

.display__Overlay {
  display: none;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background: red;
  z-index: 1;
}

.display__content {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.display__content span {
  text-align: center;
  line-height: 1rem;
  font-weight: 700;
  letter-spacing: -1px;
  width: 90%;
  color: var(--accent);
}

.display__content:hover span {
  text-decoration: underline;
  cursor: pointer;
}

/* Section Wrapper  */

.section__review__Wrapper {
  width: 100%;
  height: auto;
}

/* Section Review Header  */
.section__review__header {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0 1rem 0;
  font-size: 18px;
  letter-spacing: -1px;
  font-weight: bold;
  color: var(--accent);
}

.section__review__header span {
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.section__review__header span:nth-child(2) {
  font-size: 14px;
  padding: 0.2rem 0.5rem;
  background: var(--accent);
  color: var(--primary);
  border-radius: 0.1rem;
}

.section__review__header span:hover {
  opacity: 0.5;
}

/* Section Container  */
.section__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

/* Section review  */
.section__review {
  width: 100%;
  height: 275px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: var(--accent--);
}

/* Review Wrapper  */
.review__wrapper {
  width: 94%;
  height: 85%;
  display: grid;
  grid-template-columns: 180px 1fr;
  gap: 1rem;
}

/* Review Image  */
.review__image {
  width: 100%;
  height: 100%;
  border-radius: 0.2rem;
  overflow: hidden;
}

.review__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Review Content  */
.review__content {
  width: 100%;
  height: 100%;
  position: relative;
}

/* Review Stats  */
.review__stats {
  display: flex;
  justify-content: space-between;

  font-size: 14px;
  letter-spacing: -1px;
  cursor: pointer;
  color: var(--accent);
  padding: 0 0 0.2rem 0;
}

.review__stats div {
  opacity: 0.5;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.review__stats div:hover {
  opacity: 1;
}

/* Review Title  */
.review__title {
  font-size: 2rem;
  line-height: 1.8rem;
  letter-spacing: -2px;
  font-weight: bold;
  color: #132543;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  padding: 0 0 1rem 0;
}

.review__title:hover {
  opacity: 0.8;
}

/* Review Stars  */

.stars.review__star {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.stars.review__star .star {
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}

/* Review Item  */
.review__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}

.review__item .anime__genres {
  padding: 0;
}

.review__item .anime__genres .genre {
  font-size: 12px;
  font-weight: bold;
  background: var(--accent);
  padding: 0.1rem 0.4rem;
  border-radius: var(--MainRound);
  cursor: pointer;
  color: var(--primary);
  transition: var(--MainTransition);
}

/* Review Text  */
.review__text {
  padding: 0.3rem 0;
  width: 95%;
  line-height: 16px;
  font-size: 14px;
  opacity: 0.5;
}

/* Review Bottom  */
.review__bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  font-weight: bold;
  color: var(--accent);
}

.review__bottom span {
  cursor: pointer;
}

.review__bottom span:hover {
  opacity: 0.5;
}

.tags {
  color: var(--accent);
  letter-spacing: -1px;
  font-weight: 300;
}
/* Responsive Design  */

@media (max-width: 1050px) {
  .section__wrapper {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 850px) {
  .display__wrapper {
    height: 250px;
    grid-template-rows: 3.5fr 1fr;
  }
}

@media (max-width: 750px) {
  .section__display__grid {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    row-gap: 0.8rem;
  }
  .display__wrapper:last-child {
    grid-column: span 3;
  }
  .review__text {
    font-size: 12px;
  }
}

@media (max-width: 650px) {
  .section__review {
    height: auto;
    padding: 1rem 0;
  }
  .review__text {
    padding-bottom: 2rem;
  }
  .review__item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .section__display__grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    row-gap: 0.8rem;
  }
  .display__wrapper {
    height: 275px;
  }
  .display__wrapper:last-child {
    grid-column: span 1;
  }
  .search {
    width: 200px;
  }

  .review__wrapper {
    grid-template-columns: 150px 1fr;
  }
}

@media (max-width: 450px) {

  .review__wrapper {
    grid-template-columns: 1fr;
  }
  .section__display__grid {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
    row-gap: 0.8rem;
  }
  .display__wrapper {
    height: 395px;
  }
  .navbar__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .navbar__brand span {
    font-size: 2rem;
  }
  .navbar__brand svg {
    width: 1.7rem;
    height: 1.7rem;
  }
  .search {
    width: 300px;
  }
  .section__display__header span {
    font-size: 1rem;
  }
}

@media (max-width: 375px) {
  .section__display__grid {
    grid-template-columns: repeat(1, 1fr);
    column-gap: 1rem;
    row-gap: 0.8rem;
  }
  .display__wrapper {
    height: 295px;
  }
}
