* {
  margin: 0px;
  padding: 0px;
}

:root {
  --accent: #6ac045;
  --primary: #1d1d1d;
  --secondary: #171717;
  --light: #e3e3e3;

  --mainWidth: 90%;
}

@font-face {
  font-family: font;
  src: url(fonts/SpaceGrotesk-VariableFont_wght.ttf);
}

a {
  text-decoration: none;
}

body {
  position: relative;
  font-family: font;
}

/* Navbar Wrapper  */
.navbar__wrapper {
  width: 100%;
  height: auto;
}

/* Navbar Wrapper Item  */
.navbar__wrapper__item {
  z-index: 1000;
  position: relative;
  width: 100%;
  height: auto;
  padding: 0.6rem 0;
  background: var(--primary);

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__wrapper__item:nth-child(2) {
  background: var(--secondary);
}

/* Navbar Wrapper Container  */
.navbar__wrapper__container {
  width: var(--mainWidth);
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Navbar Brand  */
.navbar__brand {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
  cursor: pointer;
}

/* Navbar Brand Icon  */
.navbar__brand svg {
  width: 1.6rem;
  fill: var(--accent);
  transition: all 0.2s ease-in-out;
}

.navbar__brand:hover svg {
  fill: var(--light);
}

/* Navbar Brand Title  */
.navbar__brand span {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2rem;
  letter-spacing: -2px;
  color: var(--accent);
  transition: all 0.2s ease-in-out;
}

.navbar__brand:hover span {
  color: var(--light);
}

/* Navbar Search Wrapper  */
.navbar__search__wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;
}

/* Navbar Search  */
.navbar__search {
  width: 275px;
  outline: none;
  border: none;
  padding: 0.4rem 0 0.4rem 1rem;

  background: var(--secondary);
  color: var(--light);
}

/* Navbar Search Button  */
.navbar__search__btn {
  position: absolute;
  right: 0.3rem;
  width: 3rem;
  padding: 0 0.6rem;
  height: 1.3rem;
  background: var(--primary);

  border-radius: 0.1rem;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

/* Navbar Search Btn Title  */
.navbar__search__btn span {
  display: none;
  transition: all 0.2s ease-in-out;
  font-weight: bold;
  color: var(--accent);
}

.navbar__search__btn:hover > span {
  display: flex;
}

/* Navbar Search Btn Icon */
.navbar__search__btn svg {
  width: 1rem;
  fill: var(--accent);
  cursor: pointer;
  display: flex;
}

/* Navbar  */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  list-style: none;
  gap: 1rem;
  padding: 0.3rem 0;
}

/* Navbar Link  */
.navbar li a {
  background: var(--primary);
  padding: 0.2rem 0.5rem;
  font-size: 14px;
  font-weight: bold;
  color: var(--accent);
  letter-spacing: -0.5px;
  border-radius: 0.1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.navbar li a:hover {
  color: var(--secondary);
  background: var(--accent);
}

header {
  width: 1200px;
  max-width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
}
header .logo {
  font-weight: bold;
}
header .menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-weight: 500;
}

/* css slider */
.slider {
  height: 750px;
  margin-top: -50px;
  position: relative;
}
.slider .list .item {
  position: absolute;
  inset: 0 0 0 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}
.slider .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider .list .item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to top, #000 30%, transparent);
}
.slider .list .item .content {
  position: absolute;
  left: 10%;
  top: 15%;
  width: 500px;
  max-width: 80%;
  z-index: 1;
  color: var(--light);
}
.slider .list .item .content p:nth-child(1) {
  text-transform: uppercase;
  letter-spacing: 10px;
}
.slider .list .item .content h2 {
  font-size: 100px;
  margin: 0;
}
.slider .list .item.active {
  opacity: 1;
  z-index: 10;
}
@keyframes showContent {
  to {
    transform: translateY(0);
    filter: blur(0);
    opacity: 1;
  }
}
.slider .list .item.active p:nth-child(1),
.slider .list .item.active h2,
.slider .list .item.active p:nth-child(3) {
  transform: translateY(30px);
  filter: blur(20px);
  opacity: 0;
  animation: showContent 0.5s 0.7s ease-in-out 1 forwards;
}
.slider .list .item.active h2 {
  animation-delay: 1s;
}
.slider .list .item.active p:nth-child(3) {
  animation-duration: 1.3s;
}
.arrows {
  position: absolute;
  top: 30%;
  right: 50px;
  z-index: 100;
}
.arrows button {
  background-color: #eee5;
  border: none;
  font-family: monospace;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  font-size: x-large;
  color: #eee;
  transition: 0.5s;
}
.arrows button:hover {
  background-color: #eee;
  color: black;
}
.thumbnail {
  position: absolute;
  bottom: 0.5rem;
  z-index: 11;
  display: flex;
  gap: 10px;
  width: 100%;
  height: 250px;
  padding: 0 50px;
  box-sizing: border-box;
  overflow: auto;
  justify-content: center;
}
.thumbnail::-webkit-scrollbar {
  width: 0;
}
.thumbnail .item {
  width: 150px;
  height: 220px;
  filter: brightness(0.5);
  transition: 0.5s;
  flex-shrink: 0;
}
.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.thumbnail .item.active {
  filter: brightness(1.5);
}
.thumbnail .item .content {
  position: absolute;
  inset: auto 10px 10px 10px;
}

/* Section main Wrapper  */
.main__wrapper {
  width: 100%;
  height: auto;
}

/* Main Wrapper Content  */
.main__wrapper__container {
  width: 100%;
  height: 250px;
  position: relative;
}

.main__wrapper__container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main Wrapper Content  */
.main__wrapper__content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top, var(--primary) 15%, #000);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

/* Main Wrapper Content Header  */
.main__wrapper__content__header {
  font-size: 3.5rem;
  line-height: 2.4rem;
  color: var(--light);
  font-weight: bold;
  letter-spacing: -3px;

  text-align: center;
  /* padding-top: 3rem; */
  text-shadow: 2px 2px var(--secondary);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.main__wrapper__content__header svg {
  width: 2.8rem;
  fill: var(--light);
}

.main__wrapper__content span {
  font-size: 1rem;
  font-weight: 400;
  padding: 0.4rem 0 0 0;
  color: var(--light);
  opacity: 0.4;
}

.main__wrapper__content__text {
  padding: 0.5rem 0 0 0;
  width: 75%;
  text-align: center;

  color: var(--light);
  font-weight: 100;
  opacity: 0.3;
}

/* Main Row Wrapper  */
.main__row__wrapper {
  width: 100%;
  height: auto;
  padding: 0 0 1rem 0;
  background: var(--primary);

  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

/* Main Row Header  */
.main__row__header {
  width: var(--mainWidth);
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main__row__header span {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: -2.5px;
  color: var(--light);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}

.main__row__header span svg {
  width: 1.4rem;
  fill: var(--light);
}

/* View More  */
.view__more {
  cursor: pointer;
  font-weight: 400;
  letter-spacing: -1px;
  color: var(--light);
  background: var(--secondary);
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  border-radius: 0.1rem;
  transition: all 0.2s ease-in-out;
}

.view__more:hover {
  color: var(--light);
  background: var(--accent);
}

/* Main Row Container  */
.main__row__container {
  padding: 1rem 0 4rem 0;
  width: var(--mainWidth);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  justify-content: space-between;
  align-items: center;
  column-gap: 1.5rem;
  row-gap: 4rem;
}

.main__row__title {
  padding: 0.3rem 0 0 0;
  font-size: 16px;
  color: var(--light);
  font-weight: bold;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  line-height: 1.1rem;
}

.main__row__title span {
  font-weight: 100;
}

.main__row {
  width: 100%;
  height: 275px;
  border: 5px solid var(--light);
  border-radius: 0.1rem;
  position: relative;
}

.main__row:hover {
  border: 5px solid var(--accent);
}

.main__row img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Main Row Content  */
.main__row__content {
  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;
  background: rgb(0 0 0 / 0);

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.main__row__content:hover {
  background: rgb(0 0 0 / 0.3);
}

/* Row Content  */
.row__content {
  color: var(--light);
  display: none;
  transition: all 0.2s ease-in-out;
}

.view__anime {
  padding: 0.4rem 0.8rem;
  background: var(--accent);
  font-weight: bold;
  border-radius: 0.15rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.view__anime:hover {
  background: var(--primary);
  color: var(--accent);
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0 0 1rem 0;
}

.rating span {
  font-weight: bold;
}

.rating svg {
  width: 3rem;
  fill: var(--accent);
}

.main__row__content:hover .row__content {
  display: block;
}

/* Display Wrapper Container  */
.display__wrapper__container {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  background: var(--secondary);

  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Display Wrapper Grid  */
.display__wrapper__grid {
  width: calc(var(--mainWidth) + 1%);
  height: auto;

  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1.5rem;
}

/* Display Main  */
.display__main {
  width: 100%;
}

/* Review Header  */
.review__header {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 1rem 0;
}

.review__header span {
  font-size: 1.6rem;
  font-weight: bold;
  letter-spacing: -2.5px;
  color: var(--light);

  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.2rem;
}

.review__header .view__more {
  background: var(--primary);
}
.review__header .view__more:hover {
  background: var(--accent);
}
.review__header svg {
  width: 1.4rem;
  fill: var(--light);
}

/* Reviews  */
.reviews {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

/* Review  */
.review {
  width: 100%;
  height: 250px;
  background: var(--primary);
  border-radius: 0.1rem;
  border: 5px solid transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  cursor: pointer;
}

/* Review Container  */
.review__container {
  width: 98%;
  height: 90%;

  display: grid;
  grid-template-columns: 225px 1fr;
}

/* Review Image  */
.review__image {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.review:hover .review__image img {
  border: 5px solid var(--accent);
}

.review__image img {
  width: 50%;
  height: 75%;
  border-radius: 0.1rem;
  object-fit: cover;
  border: 5px solid var(--light);
  cursor: pointer;
}

/* Review Content  */
.review__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

/* Review Span  */
.review__span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review__span span {
  opacity: 0.1;
  font-size: 14px;
  letter-spacing: -1px;
  color: var(--light);
  cursor: pointer;
}

.review__span .review__time {
  opacity: 0.3;
  font-size: 14px;
  letter-spacing: -1px;
  color: var(--accent);
  cursor: pointer;
}

/* Review Title  */
.review__title {
  padding: 0.5rem 0;
  font-size: 2.5rem;
  line-height: 2.3rem;
  font-weight: bold;
  letter-spacing: -2.5px;
  color: var(--light);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.review:hover .review__title {
  color: var(--accent);
}

.review__title:hover {
  color: var(--accent);
}

/* Reviews Ratings  */
.reviews__ratings {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem 0 0 0;
}

/* Stars  */
.stars {
  display: flex;
  gap: 0.2rem;
}

.stars svg {
  width: 1rem;
  fill: var(--accent);
}

.stars svg:last-child {
  fill: var(--secondary);
}

/* Tag  */
.tag {
  color: var(--light);
  opacity: 0.2;
  font-weight: 100;
}

.reviews__text {
  font-weight: 100;
  font-size: 14px;
  padding: 0.5rem 0;
  color: var(--light);
  opacity: 0.6;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  width: 95%;
}

.review:hover .reviews__text {
  opacity: 1;

}


.reviews__text span {
  color: var(--accent);
  opacity: 0.5;
}

.review__btn {
  padding: 0.4rem 1rem;
  background: var(--secondary);
  color: var(--light);
  font-size: 14px;
  letter-spacing: -1px;
  cursor: pointer;
  border-radius: 0.1rem;
  transition: all 0.1s ease-in-out;
  position: absolute;
  bottom: 0.2rem;
  right: 0.4rem;
}

.review__btn:hover {
  background: var(--accent);
}
/* Media Queries  */
@media (max-width: 1050px) {
  .main__wrapper__content__text {
    width: 90%;
  }

  .display__wrapper__grid {
    width: calc(var(--mainWidth) + 1%);
    height: auto;

    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}

@media (max-width: 950px) {
  .reviews__text {
    font-size: 12px;
    line-height: 14px;
  }
}
/* @media (max-width: 750px) {

} */

@media (max-width: 678px) {
  .review {
    height: auto;
    padding: 1rem 0;
  }
  .reviews__text {
    padding: .1rem 0 2rem 0;
    width: 99%;
  }

  .review__image img {
    height: 200px;
    width: 75%;
  }

  .review__container {
    gap: 1rem;
    grid-template-columns: 1fr;
  }
  .main__row {
    height: 300px;
  }
  .thumbnail {
    justify-content: start;
  }
  .slider .list .item .content h2 {
    font-size: 60px;
  }
  .arrows {
    top: 10%;
  }

  .navbar__wrapper__container {
    flex-direction: column;
    gap: 0.8rem;
  }

  .main__wrapper__content__text {
    font-size: 14px;
  }

  .main__wrapper__container {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 550px) {
  .main__wrapper__content__header {
    font-size: 3rem;
  }
  .main__wrapper__content__header svg {
    width: 2rem;
  }
}

@media (max-width: 450px) {
  .main__wrapper__content__header {
    font-size: 2.2rem;
  }
  .main__wrapper__content__header svg {
    width: 1.8rem;
  }
  .main__wrapper__content__text {
    font-size: 12px;
  }
  .main__wrapper__container {
    height: 200px;
  }

  .main__wrapper__content span {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
  }

  .review__header span,
  .main__row__header span {
    font-size: 1.3rem;
  }

  .review__header svg,
  .main__row__header span svg {
    width: 1.2rem;
  }
}
